@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  --background-color: #404e4d;
  --cell-color-active: #cda00d;
  --cell-color-inactive: #000000;
}

* {
  touch-action: none;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

body {
  background-color: var(--background-color);
}

label {
  font-size: 17px;
  color: black;
}

.grid {
  margin-top: 35px;
  background-color: var(--background-color);
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  border-radius: 50%;
}

.cell.active {
  background-color: var(--cell-color-active);
}

.cell.inactive {
  background-color: var(--cell-color-inactive);
}

.toolbar {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  left: 0;
  transition: all 0.65s;
  position: absolute;
}

.toolbar.expanded {
  box-shadow: 0px 2px 50px black;
  top: 0;
}

.toolbar.collapsed {
  box-shadow: 0;
  top: -122px;
  right: 0;
  left: 0;
}

.button-group {
  background-color: #d3d3d3;
  min-height: 80px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
  padding: 8px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.button-group.vertical {
  flex-direction: column;
}

.labelled-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px;
}

.delay-input-container {
  background-color: #ffffff;
  border: 1px solid gray;
  padding-left: 8px;
  align-items: center;
  border-radius: 4px;
  display: flex;
  min-height: 25px;
}

.delay-input {
  color: black;
  height: 100%;
  background-color: #ffffff;
  padding-left: 20px;
  border: none;
}

.play-button.container,
.clear-button.container {
  margin-left: 10px;
}

.play-button.play i:before {
  color: green;
}

.play-button.stop i:before {
  color: red;
}

button.disabled i:before {
  color: gray;
}

i:before {
  font-size: 20px;
  color: #000000;
}

@media (max-width: 660px) {
  .toolbar.collapsed {
    top: -115px;
    right: 0;
    left: 0;
  }
  i:before {
    font-size: 14px;
  }
  .toolbar {
    padding: 5px 0px;
  }
}

@media (max-width: 561px) {
  .game-speed-container {
    width: 100px;
    align-items: center;
    justify-content: center;
  }
  .delay-input-container {
    width: 90px;
  }
  .delay-input {
    width: 50px;
  }
}

@media (max-width: 438px) {
  button {
    width: 100%;
  }
}
