@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

@keyframes fade-in {
  0% {
    background-color: lime;
  }
  100% {
    background-color: white;
  }
}

@keyframes fade-out {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

:root {
  --background-color: #404e4d;
  --cell-color-inactive: #000000;
  --cell-color-active: #ffffff;
}

* {
  touch-action: none;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

body {
  background-color: var(--background-color);
}

label {
  font-size: 17px;
  color: black;
}

button {
  min-width: 54px;
  margin: 2px;
}

.grid {
  margin-top: 35px;
  background-color: var(--background-color);
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  display: inline;
  border-radius: 50%;
}

.cell.active {
  box-shadow: 0px 0px 4px white;
  background-color: var(--cell-color-active);
}
.cell.inactive {
  background-color: var(--cell-color-inactive);
}

.toolbar {
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  left: 0;
  transition: all 0.65s;
  position: absolute;
}

.toolbar.expanded {
  box-shadow: 0px 2px 50px black;
  top: 0;
}

.toolbar.collapsed {
  box-shadow: 0;
  top: -130px;
  right: 0;
  left: 0;
}

.input-and-display {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.labelled-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.value-display {
  min-width: 35px;
  margin-top: 8px;
  padding: 5px;
  border-radius: 5px;
  background-color: #333333;
}

.slider-container,
.button-group {
  background-color: #d3d3d3;
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
  padding: 8px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.button-group.vertical {
  flex-direction: column;
}

.slider-container {
  padding: 10px;
}

.labelled-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.button-column {
  display: flex;
  flex-direction: column;
}

.transition-input-container {
  background-color: #ffffff;
  border: 1px solid gray;
  align-items: center;
  border-radius: 4px;
  display: flex;
  min-height: 25px;
  padding: 10px;
}

.transition-input {
  color: black;
  height: 100%;
  background-color: #ffffff;
  padding-left: 20px;
  border: none;
}

.play-button.play i:before {
  color: green;
}

.play-button.stop i:before {
  color: red;
}

button.disabled i:before {
  color: gray;
}

i:before {
  font-size: 20px;
  color: #000000;
}

i.fa-circle-thin,
i.fa-clock-o,
i.fa-tachometer {
  margin-right: 10px;
}

@media (max-width: 1133px) {
  .toolbar.collapsed {
    right: 0;
    left: 0;
  }
  .input-and-display {
    min-width: 230px;
  }
}

@media (max-width: 988px) {
  .input-and-display {
    min-width: 180px;
  }
  i::before {
    font-size: 18px;
  }
  input[type="range"] {
    width: 90px;
  }
}

@media (max-width: 836px) {
  .input-and-display {
    min-width: 140px;
  }
  input[type="range"] {
    width: 70px;
  }
}

@media (max-width: 720px) {
  .toolbar.collapsed {
    top: -145px;
  }
  i:before {
    font-size: 12px;
  }
  .button-group {
    flex-direction: column;
  }
}

@media (max-width: 652px) {
  input[type="range"] {
    width: 70px;
  }
  i:before {
    font-size: 18px;
  }
  .toolbar.collapsed {
    top: -285px;
  }
  .button-group {
    flex-direction: row;
  }
  .transition-input-container {
    min-height: 0px;
    padding: 2px;
  }
  .slider-container {
    padding: 0px;
    flex-direction: column;
    padding: 20px;
  }
  .input-and-display {
    min-width: 100px;
  }
}
